article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
	margin: 0;
	padding: 0
}
body {
	font: 14px/1.5 "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "\9ED1\4F53", Arial, sans-serif
}
dl, ol, ul {
	list-style: none
}
a, ins {
	text-decoration: none
}
a:hover {
	text-decoration: underline
}
fieldset, img {
	border: 0
}
.cf:after, .cf:before {
	display: table;
	content: ""
}
.cf:after {
	clear: both
}
.cf {
	zoom: 1
}
.cb {
	clear: both
}
.left {
	float: left
}
.right {
	float: right
}
.fn {
	float: none
}
.dt {
	display: table;
	width: 100%
}
.center {
	margin: 0 auto
}
.no-border {
	border: 0
}
.text-l {
	text-align: left
}
.text-r {
	text-align: right
}
.text-c {
	text-align: center
}
.relative {
	position: relative
}
.ajax i{
	height:20px;
	position:absolute;
	top:-10px;
	right:-10px;
	font-style:normal;
	background:#ff5644;
	color:#fff;
	line-height:20px;
	font-size:12px;
	border-radius:10px;
	padding:0 7px;
	display:inline-block;
	box-shadow: 1px 1px 4px rgba(0,0,0,.4);
	z-index:10;

}
.b1s {
	border: 1px solid #e5e5eb;
}

.width-auto {
	max-width: auto
}
.width-cell {
	max-width: 100%
}
.width-1 {
	max-width: 960px
}
.width-2 {
	max-width: 1200px
}
.w-10 {
	width: 10px
}
.w-20 {
	width: 20px
}
.w-30 {
	width: 30px
}
.w-40 {
	width: 40px
}
.w-50 {
	width: 50px
}
.w-60 {
	width: 60px
}
.w-70 {
	width: 70px
}
.w-80 {
	width: 80px
}
.w-90 {
	width: 90px
}
.w-100 {
	width: 100px
}
.w-110 {
	width: 110px
}
.w-120 {
	width: 120px
}
.w-130 {
	width: 130px
}
.w-140 {
	width: 140px
}
.w-150 {
	width: 150px
}
.w-160 {
	width: 160px
}
.w-170 {
	width: 170px
}
.w-180 {
	width: 180px
}
.w-190 {
	width: 190px
}
.w-200 {
	width: 200px
}
.w-210 {
	width: 210px
}
.w-220 {
	width: 220px
}
.w-230 {
	width: 230px
}
.w-240 {
	width: 240px
}
.w-250 {
	width: 250px
}
.w-260 {
	width: 260px
}
.w-270 {
	width: 270px
}
.w-280 {
	width: 280px
}
.w-290 {
	width: 290px
}
.w-300 {
	width: 300px
}
.w-350 {
	width: 350px
}
.w-400 {
	width: 400px
}
.w-450 {
	width: 450px
}
.w-500 {
	width: 500px
}
.w-550 {
	width: 550px
}
.w-600 {
	width: 600px
}
.w-650 {
	width: 650px
}
.w-700 {
	width: 700px
}
.w-750 {
	width: 750px
}
.w-800 {
	width: 800px
}
.w-850 {
	width: 850px
}
.w-900 {
	width: 900px
}
.w-950 {
	width: 950px
}
.no-margin {
	margin: 0
}
.no-padding {
	padding: 0
}
.m5 {
	margin: 5px
}
.m10 {
	margin: 10px
}
.m15 {
	margin: 15px
}
.m20 {
	margin: 20px
}
.m25 {
	margin: 25px
}
.m30 {
	margin: 30px
}
.m35 {
	margin: 35px
}
.m40 {
	margin: 40px
}
.m45 {
	margin: 45px
}
.m50 {
	margin: 50px
}
.p5 {
	padding: 5px
}
.p10 {
	padding: 10px
}
.p15 {
	padding: 15px
}
.p20 {
	padding: 20px
}
.p25 {
	padding: 25px
}
.p30 {
	padding: 30px
}
.p35 {
	padding: 35px
}
.p40 {
	padding: 40px
}
.p45 {
	padding: 45px
}
.p50 {
	padding: 50px
}
.mt5 {
	margin-top: 5px
}
.mt10 {
	margin-top: 10px
}
.mt15 {
	margin-top: 15px
}
.mt20 {
	margin-top: 20px
}
.mt25 {
	margin-top: 25px
}
.mt30 {
	margin-top: 30px
}
.mt35 {
	margin-top: 35px
}
.mt40 {
	margin-top: 40px
}
.mt45 {
	margin-top: 45px
}
.mt50 {
	margin-top: 50px
}
.mr5 {
	margin-right: 5px
}
.mr10 {
	margin-right: 10px
}
.mr15 {
	margin-right: 15px
}
.mr20 {
	margin-right: 20px
}
.mr25 {
	margin-right: 25px
}
.mr30 {
	margin-right: 30px
}
.mr35 {
	margin-right: 35px
}
.mr40 {
	margin-right: 40px
}
.mr45 {
	margin-right: 45px
}
.mr50 {
	margin-right: 50px
}
.mb5 {
	margin-bottom: 5px
}
.mb10 {
	margin-bottom: 10px
}
.mb15 {
	margin-bottom: 15px
}
.mb20 {
	margin-bottom: 20px
}
.mb25 {
	margin-bottom: 25px
}
.mb30 {
	margin-bottom: 30px
}
.mb35 {
	margin-bottom: 35px
}
.mb40 {
	margin-bottom: 40px
}
.mb45 {
	margin-bottom: 45px
}
.mb50 {
	margin-bottom: 50px
}
.ml5 {
	margin-left: 5px
}
.ml10 {
	margin-left: 10px
}
.ml15 {
	margin-left: 15px
}
.ml20 {
	margin-left: 20px
}
.ml25 {
	margin-left: 25px
}
.ml30 {
	margin-left: 30px
}
.ml35 {
	margin-left: 35px
}
.ml40 {
	margin-left: 40px
}
.ml45 {
	margin-left: 45px
}
.ml50 {
	margin-left: 50px
}
.ml120 {
	margin-left: 130px
}
.pt5 {
	padding-top: 5px
}
.pt10 {
	padding-top: 10px
}
.pt15 {
	padding-top: 15px
}
.pt20 {
	padding-top: 20px
}
.pt25 {
	padding-top: 25px
}
.pt30 {
	padding-top: 30px
}
.pt35 {
	padding-top: 35px
}
.pt40 {
	padding-top: 40px
}
.pt45 {
	padding-top: 45px
}
.pt50 {
	padding-top: 50px
}
.pr5 {
	padding-right: 5px
}
.pr10 {
	padding-right: 10px
}
.pr15 {
	padding-right: 15px
}
.pr20 {
	padding-right: 20px
}
.pr25 {
	padding-right: 25px
}
.pr30 {
	padding-right: 30px
}
.pr35 {
	padding-right: 35px
}
.pr40 {
	padding-right: 40px
}
.pr45 {
	padding-right: 45px
}
.pr50 {
	padding-right: 50px
}
.pb5 {
	padding-bottom: 5px
}
.pb10 {
	padding-bottom: 10px
}
.pb15 {
	padding-bottom: 15px
}
.pb20 {
	padding-bottom: 20px
}
.pb25 {
	padding-bottom: 25px
}
.pb30 {
	padding-bottom: 30px
}
.pb35 {
	padding-bottom: 35px
}
.pb40 {
	padding-bottom: 40px
}
.pb45 {
	padding-bottom: 45px
}
.pb50 {
	padding-bottom: 50px
}
.pl5 {
	padding-left: 5px
}
.pl10 {
	padding-left: 10px
}
.pl15 {
	padding-left: 15px
}
.pl20 {
	padding-left: 20px
}
.pl25 {
	padding-left: 25px
}
.pl30 {
	padding-left: 30px
}
.pl35 {
	padding-left: 35px
}
.pl40 {
	padding-left: 40px
}
.pl45 {
	padding-left: 45px
}
.pl50 {
	padding-left: 50px
}
label {
	display: inline-block;
	line-height: 32px;
	margin: 0 10px;
	color: #666;
	font-size: 14px
}
label i,label.info{
	font-size: 12px;
	font-style: normal;
	margin-left: 10px;
	color:#0C0;
}
label.only {
	display: block;
	line-height: 32px;
	color: #666;
	margin: 0;
	font-size: 14px
}
label.first {
	width: 120px;
	margin: 0 10px 0 0;
	text-align: right
}
label.textarea_first {
	width: 120px;
	margin: 0 10px 0 0;
	text-align: right;
	float: left
}
input[type$=password], input[type$=text], input[type$=text].giftnum {
	font-size: 14px;
	height: 32px;
	padding: 0 8px;
	border: 1px solid #e5e5eb;
	outline: 0;
	display: inline-block;
	color: #333;
	box-sizing: border-box
}
input[type$=text].giftnum {
	width: 152px;
	font-size: 20px
}
input[type$=number]:focus, input[type$=password]:focus, input[type$=text]:focus {
	border: 1px solid #4eb2ff
}
::-webkit-input-placeholder {
color:#ccc
}
:-moz-placeholder {
color:#ccc
}
::-moz-placeholder {
color:#ccc
}
:-ms-input-placeholder {
color:#ccc
}
select {
	font-size: 14px;
	height: 32px;
	padding: 0 5px;
	border: 1px solid #e5e5eb;
	outline: 0;
	display: inline-block;
	color: #666
}
textarea {
	font-size: 14px;
	padding: 3px 8px;
	border: 1px solid #e5e5eb;
	outline: 0;
	display: block;
	min-width: 600px;
	min-height: 100px;
	line-height: 25px;
	margin: 0;
}
textarea:focus {
	border: 1px solid #4eb2ff
}
button, input[type$=button], input[type$=submit] {
	display: inline-block;
	width: 100px;
	height: 32px;
	border: 0;
	outline: 0;
	color: #fff;
	background-color: #4eb2ff;
	font-size: 16px;
	line-height: 32px;
	font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "\9ED1\4F53", Arial, sans-serif
}
.select_file {
	display: inline-block;
	width: 100px;
	height: 32px;
	outline: 0;
	color: #333;
	background-color: #f0f0f0;
	font-size: 14px;
	line-height: 32px;
	text-align: center
}
.select_file:hover {
	background-color: #fafafa;
	text-decoration: none;
	color: #333;
	cursor: pointer
}
button:hover, input[type$=button]:hover, input[type$=submit].add_btn:hover, input[type$=submit]:hover {
	background-color: #3a98e1;
	border-color:#3a98e1
}
input[type$=file] {
	width: 1px;
	height: 1px;
	overflow: hidden;
	opacity: 0
}
.file_local {
	display: inline-block;
	height: 32px;
	color: #666;
	font-size: 12px;
	line-height: 32px
}
table {
	border-collapse: collapse;
	color: #666;
	width: 100%;
	box-sizing: border-box;
	font-size: 12px
}
table tr:hover {
	background-color: #fffeed
}
table tr td {
	border-top: 1px solid #e5e5eb;
	border-bottom: 1px solid #e5e5eb;
	padding: 10px 15px;
	min-height: 30px;
	line-height: 20px;
	word-break: break-word;
	vertical-align: middle
}
table.data_list tr td {
	border-top:none;
}

table tr.head {
	background-color: #fafafa;
	color: #999
}
table tr.now {
	background-color: #d4eeff;
}
table tr td a {
	color: #4eb2ff;
	font-size: 14px;
	text-decoration: none;
	font-weight: 400;
	margin-right: 8px
}
table tr td a:hover {
	text-decoration: underline
}
table tr td a.more:after {
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 5px solid #06c;
	display: inline-block;
	vertical-align: middle;
	content: "";
	margin-left: 2px
}
.form_row {
	display: table;
	width:100%
}
.page {
	border-top: 1px solid #e5e5eb;
	border-left: 1px solid #e5e5eb;
	width: auto;
	display: table
}
.page li {
	display: inline-block;
	border-right: 1px solid #e5e5eb;
	border-bottom: 1px solid #e5e5eb;
	line-height: 30px
}
.page li a, .page li span {
	padding: 0 11px;
	font-size: 14px;
	color: #666;
	line-height: 30px;
	display: block;
	background-color: #fff
}
.page li a:hover {
	background-color: #fafafa;
	text-decoration: none
}
.page li span {
	background-color: #fafafa;
	color: #4eb2ff
}
.btn_add {
	display: inline-block;
	width: 100px;
	height: 32px;
	border: 1px solid #4eb2ff;
	outline: 0;
	color: #fff;
	box-sizing: border-box;
	background-color: #4eb2ff;
	text-align: center;
	font-size: 14px;
	line-height: 30px;
	cursor: pointer
}
.btn_add:hover {
	text-decoration: none;
	background-color: #fff;
	color: #4eb2ff
}
.btn{
	background-color: #fafafa;
	color: #555;
	display: inline-block;
	width: 100px;
	height: 32px;
	border: 1px solid #e5e5eb;
	outline: 0;
	box-sizing: border-box;
	text-align: center;
	font-size: 14px;
	line-height: 30px;
	cursor: pointer
}
.btn:hover{
	text-decoration: none;
	background-color: #fff;
	border-color: #4eb2ff;
	color: #4eb2ff
}
.btn_calendar {
	width: 32px;
	font-size: 16px;
	line-height: 30px;
}

@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1472031098'); /* IE9*/
  src: url('iconfont.eot?t=1472031098#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1472031098') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1472031098') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1472031098#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-search:before { content: "\e65c"; }
.icon-picfill:before { content: "\e72c"; }
.icon-newsfill:before { content: "\e7c3"; }
.icon-calendar:before { content: "\e74a"; }
table tr.bigword {
	line-height: 50px;
	font-size: 18px
}
table tr.order {
	line-height: 48px;
	font-size: 16px
}
.icon60 img{
width:60px;
height:60px;
display:block;
}
.icon48 img{
width:48px;
height:48px;
display:block;
}
table tr td.time{
	font-size: 12px;
}
.money{
	font-size: 14px;
	color:#ff0000;
}
.money:before{
	font-size: 12px;
	content:"ï¿¥";
	margin-right:2px;
}
table tr td a {
	color: #4eb2ff;
	font-size: 14px;
	text-decoration: none
}
.seek input[type$=submit],input[type$=submit].search{
	font-size: 18px;
	height: 32px;
	border: 1px solid #4eb2ff;
	outline: 0;
	display: inline-block;
	color: #fff;
	box-sizing: border-box;
	line-height:30px;
	float:right;
	width:36px;
}
input[type$=submit].search{
	border-color: #4eb2ff;
	float:none
}
.seek input[type$=submit]:hover,input[type$=submit].search:hover{
	border-color: #4eb2ff;
}
.blue{
	color:#4eb2ff}
.green{
	color:#09bb07}
.top a{
	color: #fff;
	display: inline-block;
	width: 100px;
	height: 32px;
	border: 1px solid #fff;
	outline: 0;
	box-sizing: border-box;
	text-align: center;
	font-size: 16px;
	line-height: 30px;
	cursor: pointer
}
.top a:hover{
	text-decoration: none;
	color: #4eb2ff;
	background:#fff;
}