.selArea{
    width: 210px;
    height: 30px;
    border: #e0e0e0 solid 1px;
    padding-left: 12px;
    position: relative;
    color: #757575;
    z-index: 1;
}
#serviceInfo{
	font-size: 14px;
	padding: 10px 0 0;
}
#serviceInfo .price{
	color: #ff5f00;
}
#serviceInfo .ourPrice{
	color: #12971a;
	font-weight: bold;
}
#serviceInfo .floatRight{
	float: right;
}
#serviceInfo .lThrow{
	text-decoration: line-through;
}
#serviceInfo .pdlr4{
	padding: 0 15px;
}
#serviceInfo li{
	border-bottom: 1px solid #e5e5e5;
	padding: 10px 20px 10px 50px;
	line-height: 25px;
	position: relative;
	overflow: hidden;
}
#serviceInfo li p{
	position: relative;
}
#serviceInfo li:hover{
	background: #e5e5e5;
}
#serviceInfo li span.addToShoppingCar{
	float: right;
	color: #fff;
	background: #ff6100;
	margin: 10px 0;
	padding: 2px 15px;
	position: relative;
	left: -30px;
	border-radius: 3px;
	/*font-weight: bold;*/
	cursor: pointer;
}
#serviceInfo li span.addToShoppingCar:hover{
	background:#cd4101;
}
#serviceInfo li .floatRight{
	cursor:pointer;
	font-size: 12px;
}
#serviceInfo li .floatRight:hover{
	color:#127bc7;
}
#serviceInfo li .require{
	display: inline-block;
	padding: 0 70px;
	position: relative;
}
#serviceInfo li .require span{
	position: absolute;
	left: 0;
	top: 0;
}
#serviceInfo li .showMoreBox{
	display: none;
}
#serviceInfo li .list-2{
	position: absolute;
	left: 300px;
}
#servantList{
	padding:0 10px;
	font-size: 14px;
	line-height: 25px;
}
#servantList li{
	padding: 10px;
	border-top: 1px solid #E5E5E5;
}
#servantList li:hover{
	background: rgba(0,0,0,.1);
}
#servantList li:first-child{
	border-top:none;
}
#servantList li .peopleLogo{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	overflow: hidden;
}

#servantList li .peopleMess{
	line-height: 30px;
	margin-left: 20px;
}
#servantList li .peopleMess img{
	vertical-align: middle;
}
#servantList li .serviceArea{
	margin-top: 10px;
}
#servantList li .serviceArea dl{
	position: relative;
}
#servantList li .serviceArea dt{
	position: absolute;
	width: 80px;
	text-align: right;
	padding-right: 10px;
}
#servantList li .serviceArea dd{
	position: relative;
	left: 80px;
	width: 120px;
	max-height: 50px;
	overflow:hidden;
	text-overflow: ellipsis;
}
