html,
body {
    height: 100%;
}
body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
    margin: 0;
    padding: 0;
}
body {
    font-size: 14px;
    font-family: "PingFangSC-Medium";
    background: #F7F8FB;
    -webkit-text-size-adjust: 100%;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
em {
    font-style: normal;
}
li {
    list-style: none;
}
img {
    border: 0;
    vertical-align: middle;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
p {
    word-wrap: break-word;
}
input:-ms-input-placeholder {
    color: #555;
    opacity: 0.5;
}
input::-webkit-input-placeholder {
    color: #555;
    opacity: 0.5;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
}
input:focus {
    border: 0;
    outline: none;
}
.main {
    max-width: 640px;
    margin: 0 auto;
}
.main .layer_content {
    display: none;
    border-radius: 10px;
    padding: 30px 10%;
    background: #FDF9E6;
}
.main .layer_content h1 {
    text-align: center;
    color: #3D3E43;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 30px;
}
.main .layer_content p {
    font-size: 16px;
    color: #606469;
    margin-bottom: 30px;
}
.main .layer_content p span {
    color: #e42a2a;
}
.main .layer_content .okey {
    display: block;
    width: 200px;
    height: 45px;
    line-height: 45px;
    margin: 0 auto;
    text-align: center;
    background: #F25D35;
    color: #FFDB66;
    font-size: 18px;
    border-radius: 30px;
    border: 4px solid #FFDB66;
}
.main .share {
    padding: 30px 0 50px 0;
}
.main .share .userInfo {
    margin-bottom: 20px;
    text-align: center;
}
.main .share .userInfo img {
    width: 30px;
    height: 30px;
    margin-top: -7px;
    margin-right: 6px;
    border-radius: 100%;
}
.main .share .userInfo span {
    display: inline-block;
    margin-top: 6px;
    font-size: 16px;
    color: #606469;
}
.main .share .yq-text {
    text-align: center;
    color: #606469;
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: normal;
}
.main .share .yq-code {
    display: block;
    margin: 0 auto;
    width: 180px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    background: #EEEFF0;
    color: #31BDA9;
    font-size: 36px;
}
.main .share .share-box {
    position: relative;
}
.main .share .share-box .ewm {
    display: block;
    margin: 0 auto;
    width: 40%;
    position: absolute;
    left: 50%;
    margin-left: -20%;
    top: 4%;
}
.main .share .share-box .share-img {
    display: block;
    width: 100%;
}
.main .share .download {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.main .share .download a {
    display: block;
}
.main .share .download a img {
    display: block;
    width: 100%;
}





body {
    background-image: url(../img/cjbg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #F0D62F;
    font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif；
}

* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

#title {
    width: 100%;
    padding-top: 15.5%;
    /*padding-top: 32%;*/
}

.title {
    width: 100%;
    font-size: 14px;
    text-align: center;
    color: white;
}

@media screen and (min-width: 321px) {
    .title {
        font-size: 16px;
    }
}

@media screen and (min-width: 376px) {
    .title {
        font-size: 19px;
    }
}

.my_integral {
    width: 43%;
    margin: 0 auto;
    padding-top: 15%;
    background: url(../img/my_integral.png) no-repeat bottom;
    background-size: contain;
    color: #65300F;
    text-align: center;
    font-size: 14px;
    padding-bottom: 3px;
}

@media screen and (min-width: 321px) {
    .my_integral {
        font-size: 15px;
    }
}

@media screen and (min-width: 376px) {
    .my_integral {
        font-size: 18px;
    }
}

.integral_number {
    color: #E80B18;
}

#btn .cjBtnDom,
#btn .cjBtn,
.active,
.luck_ul li {
    width: 180px;
    height: 180px;
    background-repeat: no-repeat;
    background-size: 100%;
}

#btn.cjBtn {
    background-image: url(../img/buttonUp.png);
}

#btn.cjBtnDom {
    background-image: url(../img/buttonDown.png);
}

#luck {
    width: 84%;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 6%;
}

@media screen and (max-width: 320px) {
    #luck {
        padding-top: 5%;
    }
}

#luck .active {
    background-color: yellow;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

h3.luck_time {
    text-align: center;
    font-size: 10px;
    color: #FDE235;
    padding: 8px 0;
}

@media screen and (min-width: 321px) {
    h3.luck_time {
        font-size: 12px;
        padding: 10px 0;
    }
}

@media screen and (min-width: 376px) {
    h3.luck_time {
        font-size: 14px;
        padding: 10px 0;
    }
}

h3.luck_time .number {
    color: white;
}

.luck_ul {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.luck_ul li {
    width: 33%;
    height: auto;
    text-align: center;
    float: left;
    padding: 2px;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 0;
}

.luck_ul li img {
    width: 100%;
    display: block;
}

.rules {
    width: 30%;
    padding-top: 10%;
    margin: 0 auto;
}
